.optionButton {
  position: relative;
  display: flex;
  margin-bottom: 2%;
  background-color: #ffffff;
  will-change: box-shadow;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.optionButton::before {
  content: "";
  width: 4.5rem;
  height: 4.5rem;
  background-image: url("../images/hearth.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 2.3rem);
  right: 10px;
  animation: alive 2s infinite linear;
}

.optionButton:last-child {
  margin-bottom: 0;
}

.optionButton:hover {
  box-shadow: -0.5rem 1rem 1rem -1rem var(--text-color);
}

.optionButton img {
  width: 5%;
  min-width: 3rem;
  margin: 3%;
}

.optionButton p {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0 3%;
  background-color: #adbc8a;
  padding-right: 5rem;
}

@media all and (max-width: 1024px) {
  .optionButton::before {
    width: 2.5rem;
    height: 2.5rem;
    top: calc(50% - 1rem);
  }
}

@media all and (max-width: 959px) {
  .optionButton img {
    width: 10%;
  }

  .optionButton p {
    font-size: x-large;
    padding-right: 5rem;
  }
}

@media all and (max-width: 540px) {
  .optionButton p {
    font-size: medium;
    padding-right: 2.5rem;
  }

  .optionButton::before {
    width: 2rem;
    height: 2rem;
    top: calc(50% - 1rem);
  }
}

@media screen and (max-width: 480px) {
  .optionButton {
    border-radius: 0;
    margin-bottom: 1rem;
  }
}
