.App {
  display: flex;
  width: inherit;
  overflow: hidden;
}

.App div {
  display: flex;
}

.App > div:not(.hidden) {
  min-width: 100%;
  justify-content: space-evenly;
}

.App > img {
  max-width: 60%;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

@media all and (max-width: 959px) {
  .App {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .App > img {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 480px) {
  .App > img {
    display: none;
  }
}
