:root {
  --text-color: #9a5b52;
  --emphasis-color: #f2b577;
  --border-color: #adbc8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #adbc8a;
  background-image: linear-gradient(to top, #adbc8a, #f2b57755 30%);
  background-repeat: repeat-x;
  background-size: contain;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  width: 100%;
  height: inherit;
}

@keyframes alive {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.hidden {
  width: 0;
}
